button{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
 }
 
 button:hover{
     background-color: rgb(7, 255, 7);
     color: rgb(255, 255, 255);
     opacity:0.9;
 }
 
 .submit{
     background-color: rgb(2, 213, 2);
     color:white;
 }
 

 h2{
     text-align: center;
 }
 
 a{
     color: darkblue;
     text-decoration: none;
     
 }
 
 a:active{
 color: none;
 }
 
 a:hover{
     color:rgb(0, 238, 255);
 }